<a href="https://colab.research.google.com/github/Danielkr0l/datascience/blob/main/pandas/wprowadzenie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

Obiekty series

In [2]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [5]:
s = pd.Series(data=[3,2,4,6], index = ['a','b','c','d'], name = 'sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [9]:
s = pd.Series([3,np.nan,4,6], index = ['a','b','c','d'], name = 'sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [10]:
s = pd.Series([True,False,True], name='fajne')
s

0     True
1    False
2     True
Name: fajne, dtype: bool

In [16]:
s = pd.Series(np.arange(10,20), index=pd.date_range(start = '20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [18]:
s = pd.Series(['python', 'java', 'sql'], name = 'languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [19]:
type(s)

pandas.core.series.Series

In [20]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [22]:
s.dtype

dtype('O')

In [24]:
s.shape

(3,)

In [42]:
price = pd.Series({'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [26]:
price['CD Projekt']

60

In [27]:
price[1]

60

In [43]:
price.count()

3

In [44]:
price.value_counts(dropna = False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [48]:
price.sum()

2160.0

In [47]:
price.min()

60.0

In [46]:
price.std()

1024.3046421841502

In [45]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [50]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [55]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [57]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [59]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [63]:
price_pln = price.apply(lambda x: x*3.8)
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

**DataFrame**

In [66]:
df = pd.DataFrame([12,12,13])
df

    0
0  12
1  12
2  13

In [67]:
df = pd.DataFrame([12,12,13], index =['a','b','c'], columns= ['col1'])
df

   col1
a    12
b    12
c    13

In [4]:
df = pd.DataFrame({'WIG20': ['PKN ORLEN', 'PKO BP'],
                   'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [71]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [72]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [73]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'Playway']], dtype=object)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [70]:
df.T

                0        1
WIG20   PKN ORLEN   PKO BP
mWIG40      Amica  Playway

In [5]:
df['WIG20']

0    PKN ORLEN
1       PKO BP
Name: WIG20, dtype: object

In [6]:
type(df['WIG20'])

pandas.core.series.Series

In [7]:
df[['WIG20']]

       WIG20
0  PKN ORLEN
1     PKO BP

In [8]:
type(df[['WIG20']])

pandas.core.frame.DataFrame

In [10]:
df.columns = ['A', 'B']
df

           A        B
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [12]:
df.A

0    PKN ORLEN
1       PKO BP
Name: A, dtype: object

In [14]:
df['C'] = df.A + df.B
df

           A        B               C
0  PKN ORLEN    Amica  PKN ORLENAmica
1     PKO BP  Playway   PKO BPPlayway

In [18]:
df = pd.DataFrame({'col_1': [10,23], 'col_2': [12,12], 'col_3': [13,10]})
df.index = ['first', 'second']
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [19]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [20]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [21]:
df.loc['first', 'col_2']

12

In [23]:
df.loc[:, 'col_3']

first     13
second    10
Name: col_3, dtype: int64